@model DesafioReval.Models.ClienteModel

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<div class="mt-4">
    <br />
    <br />
    <h1>Detalhes do Cliente</h1>

    <div>
        <h4>Cliente: @Html.DisplayFor(model => model.nomefantasia)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.razaosocial)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.razaosocial)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nomefantasia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nomefantasia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cnpj)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cnpj)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.inscrisaoe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.inscrisaoe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nomeresp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nomeresp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.telefone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.telefone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cep)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cep)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.estado)
            </dd>
        </dl>
    </div>
    <div class="row">
        <a class="btn btn-outline-primary m-1" asp-action="Edit" asp-route-id="@Model?.Id">Alterar</a>
        <a class="btn btn-outline-secondary m-1" asp-action="Index">Voltar</a>
    </div>
</div>